<div class="profile">
    <div class="profile-section">
        <a href="/">
            <img class="avatar-img" alt="Logo" src="/../public/logo.png" />
        
            <h1 class="avatar-name">Alex's Blog</h1>
            <p class="avatar-sub">code and stuff</p>
        </a>
    </div>
</div>